<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            {{tabTitle}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="segment">
        <ion-segment value="recent" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="recent">
                <ion-label>Geçmiş Randevular</ion-label>
            </ion-segment-button>
            <ion-segment-button value="future">
                <ion-label>Gelecek Randevular</ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>

    <div class="cards">
        <ion-card>
            <ion-row>
                <ion-col size="6">
                    <img src="https://static.ilanversen.com/ilan/foto/2/6-JPG-78-6693.jpg" class="placeImage">
                </ion-col>
                <ion-col size="6" style="text-align: left">
                    <h5 style="font-size: 18px; margin: 0;">Maksi Elektrik</h5>
                    <p style="margin-top:0.5em !important; margin: 0;">28.01.2021</p>
                    <p style="margin-top : 0.5em !important">10:30</p>

                    <ion-button (click)="onClick()" expand="block" fill="outline" style="height: 25%;">
                        İptal Et
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-card>
            <ion-row>
                <ion-col size="6">
                    <img src="https://static.ilanversen.com/ilan/foto/2/6-JPG-78-6693.jpg" class="placeImage">
                </ion-col>
                <ion-col size="6" style="text-align: left">
                    <h5 style="font-size: 18px; margin: 0;">Maksi Elektrik</h5>
                    <p style="margin-top:0.5em !important; margin: 0;">28.01.2021</p>
                    <p style="margin-top : 0.5em !important">10:30</p>

                    <ion-button (click)="onClick()" expand="block" fill="outline" style="height: 25%;">
                        İptal Et
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-card>
            <ion-row>
                <ion-col size="6">
                    <img src="https://static.ilanversen.com/ilan/foto/2/6-JPG-78-6693.jpg" class="placeImage">
                </ion-col>
                <ion-col size="6" style="text-align: left">
                    <h5 style="font-size: 18px; margin: 0;">Maksi Elektrik</h5>
                    <p style="margin-top:0.5em !important; margin: 0;">28.01.2021</p>
                    <p style="margin-top : 0.5em !important">10:30</p>

                    <ion-button (click)="onClick()" expand="block" fill="outline" style="height: 25%;">
                        İptal Et
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-card>
    </div>
</ion-content>